{% extends 'PiwiS2pUserBundle::layout.html.twig' %}

{% block title %}{{ parent() }} - {{ 'piwi.s2p.user.login.title'|trans }}{% endblock %}

{% block page_header %}{% endblock %}

{% block content %}
    <div class="col-md-offset-4 col-md-4">
        <div class="panel panel-default login">
            <h3>{{ 'piwi.s2p.user.login.headline'|trans }}</h3>
            <p>{{ 'piwi.s2p.user.login.text'|trans }}</p>
            <center>
                <a href="{{ path('hwi_oauth_service_redirect', {'service': 'facebook' }) }}">
                    <img src="https://s3.amazonaws.com/static.stackmob.com/resources/images/facebook-landing/scrumptious/login_1.png" alt="{{ 'piwi.s2p.user.login.facebook'|trans }}" class="logo">
                </a>
            </center>
        </div>
    </div>
{% endblock %}
