{% extends 'PiwiS2pPhotoBundle::layout.html.twig' %}

{% block title %}{{ parent() }} - {{ 'piwi.s2p.photo.photo.album.title'|trans({'%album%': album.title}) }}{% endblock %}

{% block headline %}{{ 'piwi.s2p.photo.photo.album.headline'|trans({'%album%': album.title}) }}{% endblock %}

{% block head_style %}
    {{ parent() }}
    {% stylesheets filter="cssrewrite"
    'bundles/piwisystemcore/js/fancybox/source/jquery.fancybox.css'
    %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
    {% endstylesheets %}
{% endblock %}

{% block foot_script_assetic %}
    {{ parent() }}
    {% javascripts '@PiwiSystemCoreBundle/Resources/public/js/fancybox/source/jquery.fancybox.pack.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>
        $(document).ready(function() {
            $(".album-picture").attr('rel', 'gallery').fancybox();
            $(document).photoAlbum();
        });
    </script>
{% endblock %}

{% block content %}
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-8">
                {{ album.description }}
            </div>
            <div class="col-md-4">
                <dl class="dl-horizontal">
                    <dt>{{ 'piwi.s2p.photo.photo.album.views'|trans }}</dt>
                    <dd>{{ album.views }}</dd>
                    <dt>{{ 'piwi.s2p.photo.photo.album.count'|trans }}</dt>
                    <dd>{{ album.count }}</dd>
                    <dt>{{ 'piwi.s2p.photo.photo.album.author'|trans }}</dt>
                    {% if album.user %}
                        <dd>
                            <a href="{{ path('piwi_s2p_user_profile', {'username': album.user.username}) }}">
                                {{ album.author }}
                            </a>
                        </dd>
                    {% else %}
                        <dd>{{ album.author }}</dd>
                    {% endif %}
                </dl>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                {% for photo in album.photos %}
                    <div class="col-sm-12 col-md-3 col-lg-2">
                        <div class="panel panel-default">
                            <div class="panel-body photo">
                                <a href="{{ asset('uploads/photos/' ~ photo.filename) }}" title="{{ photo.title }}" class="album-picture" rel="album">
                                    <img src="{{ asset('uploads/photos/' ~ photo.filename)|imagine_filter('photo_preview') }}" alt="{{ photo.title }}" class="img-responsive">
                                </a>
                                {% if photo.user == app.user %}
                                <p class="text-center">
                                    <a href="{{ path('piwi_s2p_photo_photo_select_preview', {'slug': album.slug, 'id': photo.id}) }}">
                                        <i class="fa fa-camera"></i>
                                    </a>
                                    <a href="{{ path('piwi_s2p_photo_photo_delete_photo', {'id': photo.id}) }}" class="delete">
                                        <i class="fa fa-times" style="color:red;"></i>
                                    </a>
                                </p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
