{% extends 'PiwiS2pUserBundle::layout.html.twig' %}

{% block title %}{{ parent() }} - {{ 'piwi.s2p.user.admin.edit.title'|trans }}{% endblock %}

{% block headline %}{{ 'piwi.s2p.user.admin.edit.headline'|trans }}{% endblock %}

{% block content %}
    <div class="col-md-12">
        <form class="form-horizontal" action="{{ path('piwi_s2p_user_admin_edit', {'username': user.username}) }}" method="post">
            {{ form_widget(form) }}
        </form>
    </div>
{% endblock %}
