{% extends 'PiwiS2pEventBundle::layout.html.twig' %}

{% block title %}{{ parent() }} - {{ 'piwi.s2p.event.event.edit.title'|trans({'%event%': event.title}) }}{% endblock %}

{% block headline %}{{ 'piwi.s2p.event.event.edit.headline'|trans({'%event%': event.title}) }}{% endblock %}

{% block content %}
    <div class="col-md-12">
        <form class="form-horizontal" action="{{ path('piwi_s2p_event_event_edit', {'slug': event.slug}) }}" method="post" enctype="multipart/form-data">
            {{ form_widget(form) }}
        </form>
    </div>
{% endblock %}
