{% extends 'PiwiS2pDashboardBundle::layout.html.twig' %}

{% block title %}{{ parent() }} - {{ 'piwi.s2p.dashboard.default.index.title'|trans }}{% endblock %}

{% block page_header %}{% endblock page_header %}

{% block foot_script_assetic %}
    {{ parent() }}
    <script>
        $(document).ready(function() {
            $(".album-picture").attr('rel', 'gallery').fancybox();
        });
    </script>
{% endblock %}

{% block content %}
    <div class="col-md-12">
        <div class="row">
            <div class="col-sm-12">
                <div class="page-header">
                    <h1>{{ upcomingEvent.title }}</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <a href="{{ path('piwi_s2p_event_event_index', {'slug': upcomingEvent.slug}) }}" title="{{ upcomingEvent.title }}" class="poster-link">
                    <img src="{{ asset('uploads/events/posters/' ~ upcomingEvent.poster)|imagine_filter('poster_m') }}" alt="{{ upcomingEvent.title }}" class="img-responsive">
                </a>
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="pull-left event-attendees">
                            <ul class="list-inline" style="margin-bottom: 0px;">
                                {% if upcomingEvent.attendees is not empty %}
                                    {% for attendee in upcomingEvent.attendees %}
                                        <li class="event-attendee">
                                            <img src="{{ asset('uploads/profile_pictures/' ~ attendee.user.username ~ '.jpg')|imagine_filter('profile_picture_s') }}" alt="{{ attendee.user }}" class="img-responsive img-circle">
                                            {% if attendee.status == 'maybe' %}
                                                <img src="{{ asset('/bundles/piwis2pevent/img/asterisk.png') }}" class="maybe">
                                            {% endif %}
                                        </li>
                                    {% endfor %}
                                {% else %}
                                    <li>
                                        {{ 'piwi.s2p.event.event.index.no_attendees'|trans }}
                                    </li>
                                {% endif %}
                            </ul>
                        </div>
                        <div class="pull-right">
                            <p class="event-resume">
                                {{ 'piwi.s2p.event.event.index.resume'|trans(
                                {
                                '%date%': upcomingEvent.date|localizeddate('full', 'none', app.request.locale),
                                '%venue%': upcomingEvent.venue
                                }
                                ) }}
                                {% if upcomingEvent.source %}
                                    <br />{{ 'piwi.s2p.event.event.index.source'|trans }}: <a href="{{ upcomingEvent.source }}" target="_blank">{{ upcomingEvent.source }}</a>
                                {% endif %}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <p>{{ upcomingEvent.description|markdown }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <p>
                            <a href="{{ path('piwi_s2p_event_event_index', {'slug': upcomingEvent.slug}) }}">
                                <span class="label label-default">
                                    {{ 'piwi.s2p.dashboard.default.index.replies'|transchoice(upcomingEventComments) }}
                                </span>
                            </a>
                            &nbsp;
                            <a href="{{ path('piwi_s2p_event_event_index', {'slug': upcomingEvent.slug}) }}">
                                <span class="label label-warning">
                                    {{ 'piwi.s2p.dashboard.default.index.read_more'|trans }}
                                </span>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 next-events-title">
                <h3>{{ 'piwi.s2p.dashboard.default.index.next_events'|trans }}</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                {% for event in events %}
                    {% if event is not null %}
                        <div class="col-md-3 event-container">
                            <a href="{{ path('piwi_s2p_event_event_index', {'slug': event.slug}) }}">
                                <div class="panel panel-default event">
                                    <div class="panel-body">
                                        <div class="col-md-12 event-poster">
                                            <img src="{{ asset('uploads/events/posters/' ~ event.poster)|imagine_filter('poster_m_crop') }}" alt="{{ event.title }}" class="img-responsive">
                                        </div>
                                        <div class="col-md-12 event-label">
                                            <p><span class="label label-warning label-date">{{ event.date|localizeddate('full', 'none', app.request.locale) }}</span></p>
                                            <p><span class="label label-default label-title">{{ event.Title }}</span></p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% else %}
                        <div class="col-md-3 event-container">
                            {% if is_granted('ROLE_MEMBER') %}
                                <a href="{{ path('piwi_s2p_event_event_add') }}">
                            {% endif %}
                                <div class="panel panel-default event">
                                    <div class="panel-body">
                                        <div class="col-md-12 event-poster">
                                            <img src="{{ asset('/bundles/piwis2pevent/img/noevent.nl.png') }}" alt="No event" class="img-responsive">
                                        </div>
                                        <div class="col-md-12 event-label">
                                            <p>&nbsp;</p>
                                            <p>
                                                <span class="label label-default label-title">
                                                    {{ 'piwi.s2p.dashboard.default.index.plan_event'|trans }}
                                                </span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            {% if is_granted('ROLE_MEMBER') %}
                                </a>
                            {% endif %}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 hidden-xs">
                <h3>{{ 'piwi.s2p.dashboard.default.index.latest_photos'|trans }}</h3>
                <div class="row">
                    {% for photo in photos %}
                        <div class="col-sm-12 col-md-6 col-lg-4" style="padding-top: 10px; padding-bottom: 10px;">
                            <a href="{{ asset('uploads/photos/' ~ photo.filename) }}" title="{{ photo.title }}" class="album-picture" rel="album">
                                <img src="{{ asset('uploads/photos/' ~ photo.filename)|imagine_filter('photo_preview') }}" alt="{{ photo.title }}" class="img-responsive">
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-8">
                <h3>{{ 'piwi.s2p.dashboard.default.index.latest_comments'|trans }}</h3>
                {% if is_granted('ROLE_MEMBER') %}
                <table class="table table-striped" id="table-comments">
                    <thead>
                    <td width="20%">{{ 'piwi.s2p.user.profile.index.table_comments.author'|trans }}</td>
                    <td>{{ 'piwi.s2p.user.profile.index.table_comments.comment'|trans }}</td>
                    </thead>
                    <tbody>
                    {% for comment in comments %}
                        {% set event = getEventById(comment.thread.entityId) %}
                        {% if (not app.user and event.public) or app.user %}
                            <tr>
                                <td>{% if comment.author %}{{ comment.author.firstName }}{% endif %}</td>
                                <td>
                                    {{ comment }}
                                    <br />
                                    <a href="{{ path('piwi_s2p_event_event_index', {'slug': event.slug}) }}#fos_comment_{{ comment.id }}">{{ 'piwi.s2p.dashboard.default.index.read_more'|trans }}</a>
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
                {% else %}
                    <p class="bg-warning" style="padding: 15px;">
                        {{ 'piwi.s2p.dashboard.default.index.restricted_access'|trans }}
                    </p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
